.contenedor{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.contenedor-cupon{
    padding: 25px;

}

.img-back{
    width: 100px;
    height: 100px;
}

@media screen and (max-width: 768px){
    .contenedor-cupon img{
        width: 90%;
        height: auto;
        margin-left: 18px;
    }

    .img-back{
        width: 35px;
        height: 35px;
    }
}