body {
    /* background-color: #f1efef; */
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.container {
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center; */
    left: 50%;
    top: 45%;
    /* transform: translate(-50%, -50%); */
    width: 380px;
    height: auto;
    background: #ffffff;
    overflow: hidden;
    border-radius: 10px;
}

.container-img {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    width: 350px;
    height: auto;
    gap: 15px;
}

.container-img img {
    width: 180px;
    height: auto;
}

.container-img h1 {
    width: 120px;
    height: 80px;
    font-size: 60px;
    font-weight: bold;
}

.container-subtitle {
    display: flex;
    align-items: center;
    height: auto;
}

.container-subtitle p {
    padding-left: 45px;
    padding-right: 45px;
    font-size: 20px;
    text-align: center;
}

.container-subtitle p span {
    font-weight: bold;
}

.container-aviso {
    display: flex;
    align-items: center;
    height: auto;
}

.container-aviso p {
    margin-left: 10px;
    margin-right: 30px;
    border: 2px dashed #a8a8a8;
    font-size: 14px;
    font-weight: bold;
    text-align: start;
    height: auto;
    width: 100%;
    padding: 3px;
}

.containerSucursales {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    height: auto;
    padding: 5px 15px 5px 15px;
}

.containerSucursales p {
    font-size: 10px;
    text-align: start;
    margin-top: 5px;
    margin-right: 15px;
}

hr {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
    height: 0;
    border: medium none;
    border-top: 3px dashed #a8a8a8 !important
}

.container-terminos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 25px;
    padding-right: 25px;
}

.container-terminos p{
    font-size: 12px;
    font-weight: bold;
    color: #a8a8a8;
    height: auto;
    width: 100%;
}

.container-terminos a{
    color: #a8a8a8;
    text-decoration: none;
    cursor: pointer;
}

.container-vence {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: auto;
    gap: 15px;
}

.container-vence img{
    color:#e04018;
    width: 45px;
    height: 45px;
    cursor: pointer;
}

.container-vigencia{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: flex-start;
    height: 70px;
}

.container-vigencia p {
    height: 20px;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 12px;
    font-weight: bold;
    color: #a8a8a8;
}

.container-vigencia p span {
    color: #fa5007;
}

